body {
  background-color: #f9f7f4;
}

#container {
  width: 80%;
  margin: 170px auto 1em auto;
}

h1, h2, h3 {
  font-family: 'Playfair Display', serif;
  color: #7a7f93;
  text-align: center;
}

p {
  font-family: 'Crimson Text', serif;
  text-align: center;
  max-width: 35em;
  margin: 1em auto;
}

p.big {
  font-size: 1.2em;
}

hr {
  width: 30%;
  min-width: 5em;
}

a {
  color: #7a7f93;
  text-decoration: none;
  border-bottom: 1px dotted #717f93;
  transition: color 1s;
}

a:hover {
  color: #6174c1;
}

a.button {
  font-family: 'Crimson Text', serif;
  background-color: #7a7f93;
  color: #f9f7f4;
  display: block;
  margin: 1.5em auto;
  width: 10em;
  padding: 0.5em;
  border-radius: 5px;
  transition: background-color 1s;
}

a.button:hover {
  background-color: #6174c1;
}

#banner {
  background-image: url("images/banner.jpg");
  width: 100%;
  height: 115px;
  position: fixed;
  top: 0;
}

#banner h1 {
  color: #f9f7f4;
  font-size: 3em;
  margin: .5em auto;
  word-spacing: 0.1em;
}

#banner h1 span {
  font-size: 0.65em;
  font-style: italic;
}

img#couple {
  display: block;
  margin: 1em auto;
  width: 30%;
  min-width: 200px;
}

#couple {
  border-radius: 100%;
}

.section {
  margin-top: 5em;
  margin-bottom: 3em;
}
